*{
    font-size: 100%;
    font-family: roboto;
}

@media screen and (max-width: 640px){
    header{
        display: none;
    }

    .navbar{
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    main{
        
    }

}

@media screen and (min-width: 992px){
    .navbar-brand{
        display: none;
    }

    .nav-item{
        font-size: 1.2em;
    }
}

.logoh
{
    height: 250px;
    display: block;
    margin: auto;
}

nav {
    border-top: 2px solid #1db4af;
    border-bottom: 2px solid #1db4af;
}

.illustration {
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
}

p{
    font-size: 1.2em;
    padding-left: 1em;
    padding-right: 1em;
}

span{
    margin-left: 20px;
}

footer{
    background-color: #1db4af;
    text-align: center;
}