*{
    font-size: 1em;
    font-family: roboto;
}

@media screen and (max-width: 576px){
    header, .presentation{
    display: none;
}

}

@media screen and (max-width: 640px){
    header{
        display: none;
    }

    .navbar{
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    .contact{
        background-color: #fabb22;
        width: 90%;
        border-radius: 10px;
    }

    h3{
        margin-top: 15px;
        text-align: center;
    }

    .bouton-contact{
    margin: 20px;
    float: right;
    }

}

@media screen and (min-width: 992px){
    .navbar-brand{
        display: none;
    }

    .nav-item{
        font-size: 1.2em;
    }

    main{
        font-size: 0.9em;
    }
   
    a:hover{
        text-decoration: underline;
    }

    .orange{
        width: 95%;
        margin: auto;
        background-color: #ea6e28;
        padding: 20px;
        border-radius: 10px;
    }

    .illustration {
        width: 100%;
        transition: 0.5s all ease-in-out;
    }
      
    .illustration:hover {
        transform: scale(1.1);
    }
}

@media screen and (min-width: 576px) and (max-width:640px){
    h1{
        margin-top: 55px;
    }

    .contact{
        background-color: #129ba1;
        width: 90%;
        border-radius: 10px;
    }

    h3{
        margin-top: 25px;
        margin-bottom: 25px;
        text-align: center;
    }

    .bouton-contact{
        float: right;
        margin: 10px;
    }

    .form-group{
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 640px){
    h3{
        margin-top: 45px;
        margin-bottom: 25px;
        text-align: center;
    }

    .bouton-contact{
        float: left;
        margin: 10px;
    }

    .form-group{
        margin-bottom: 40px;
    }

    .contact{
        background-color: #ea6e28;
        width: 90%;
        border-radius: 10px;
    }
}


.logoh
{
    height: 250px;
    display: block;
    margin: auto;
}

nav {
    border-top: 2px solid #1db4af;
    border-bottom: 2px solid #1db4af;
}

.illustration {
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
}

p{
    font-size: 1.2em;
    padding-left: 1em;
    padding-right: 1em;
}

span{
    margin-left: 20px;
}

footer{
    background-color: #1db4af;
    text-align: center;
    
}

address{
    font-size: 1.8em;
}

.coordonnees{
    margin: 50px;
}

h4{
    display: inline-block;
    margin-left: 20px;
}